/******************************************************************************
//
//	Copyright (C) 2009  Braden "Blzut3" Obrzut <devs@bitowl.com>
//
//	This program is free software; you can redistribute it and/or
//	modify it under the terms of the GNU General Public License
//	as published by the Free Software Foundation; either version 2
//	of the License, or (at your option) any later version.
//
//	This program is distributed in the hope that it will be useful,
//	but WITHOUT ANY WARRANTY; without even the implied warranty of
//	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//	GNU General Public License for more details.
//
//	You should have received a copy of the GNU General Public License
//	along with this program; if not, write to the Free Software
//	Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
//	02110-1301, USA.
//
//****************************************************************************/

h6
{
	font-size: 12pt;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

.login fieldset
{
	background-color: #EEEEEE;
	border: #000000 0px solid;
	width: 250px;
	border-bottom: #F7F7F7 5px solid;
	margin: 50px auto 0px auto;
	text-align: center;
}
.login fieldset legend
{
	font-weight: bold;
}

input.textbox, textarea
{
	border: #7F7F7F 1px solid;
	background-color: #FFFFFF;
	color: #5F5F5F;
	font-family: serf;
}
input.textbox:focus, textarea:focus
{
	border: #AF3F00 1px solid;
	background-color: #FFFFF4;
	color: #5F5F5F;
}
input.textbox.wide, textarea.wide
{
	width: 98%;
	min-width: 200px;
}

div.tab
{
	display: inline;
	background-color: #FFFFFF;
	border-style: solid solid none solid;
	border-width: 1px 1px 0px 1px;
	border-color: #000000;
	padding: 0px 4px 0px 4px;
	margin: 1px;
	vertical-align: middle;
}
div#tabbar
{
	margin-left: 5px;
	position: relative;
	top: 1px;
}
div.tab a:link, div.tab a:active, div.tab a:visited
{
	color: #000000;
	text-decoration: none;
}
div.tab a:hover
{
	color: #000080;
	text-decoration: none;
	margin-bottom: 1px;
}

div.tab.active
{
	background: #E0E0E0 url("./images/tab_gradient.png") repeat-x scroll top left;
	border-color: #7F7F7F;
	font-weight: bold;
	border-bottom: #E0E0E0 1px solid;
}

.panel
{
	background-color: #E0E0E0;
	border: #7F7F7F 1px solid;
	padding: 2px;
	width: 100%;
}

ul.func_menu
{
	margin: 2px;
	padding: 0px;
	border-top: #F0F0F0 4px solid;
	border-bottom: #F0F0F0 4px solid;
	background-color: #FFFFFF;
	color: #000000;
	list-style-type: none;
	font-family: sans;
}
ul.func_menu li
{
	margin: 0px;
	padding: 0px;
}
ul.func_menu li a:link, ul.func_menu li a:active, ul.func_menu li a:visited
{
	color: #0000FF;
	display: block;
	text-decoration: none;
}
ul.func_menu li a:hover
{
	text-decoration: underline;
}
ul.func_menu li.active
{
	font-weight: bold;
}

.panel .main
{
	padding: 2px 5px 0px 5px;
	vertical-align: top;
}

.panel fieldset
{
	margin: 2px 0px 2px 0px;
	padding: 2px;
	border: #000000 1px solid;
}
.panel fieldset legend
{
	margin-left: 20px;
}

table
{
	width: 100%;
	border: #000000 0px solid;
	padding: 0px;
}
table tr td, table tr th
{
	border: #000000 0px solid;
	margin: 0px;
	padding: 0px;
}
table tr td.lbl
{
	vertical-align: top;
	width: 175px;
}

table.editor
{
	width: 100%;
}
table.editor th
{
	background-color: #8888FF;
	color: #000000;
	text-align: left;
	border-top: #A0A0FF 3px solid;
	border-bottom: #A0A0FF 3px solid;
}
table.editor tr td
{
	border-bottom: #E4E4E4 1px solid;
}
table.editor tr:hover
{
	border-bottom: #EAEAEA 1px solid;
	background-color: #EAEAEA;
	color: #000000;
}

img
{
	border: 0px;
}

.stats
{
	font-size: 8pt;
	font-family: sans;
	color: #7F7F7F;
	text-align: center;
}

.pagination
{
	text-align: right;
}
.pagination a:link, .pagination a:active, .pagination a:visited, .pagination a:hover
{
	border: #000000 1px solid;
	background-color: #FFFFFF;
	text-decoration: none;
	width: 10px;
	color: #0000FF;
	padding: 0px 2px 0px 2px;
}
.pagination a:hover, .pagination a.active:link, .pagination a.active:active, .pagination a.active:visited
{
	background-color: #FFFFDF;
}

.preview
{
	background-color: #FFFFFF;
}
.preview legend
{
	font-weight: bold;
}
.preview p
{
	text-indent: 24px;
	margin: 0px 0px 10px 0px;
}
.preview img
{
	border: #000000 1px solid;
	margin: 5px;
}

.form_btns
{
	margin-left: 175px;
}
