		</td>
	</tr>
</table>
<script src="templates/cp/admin.js"></script>
<div class="stats">[ 
{language.TIME}: {executiontime} | {language.MEMORY}: {memoryusage}KiB <!--
if(isset(mysql.queries))
	--> | {language.QUERIES}: <!--
	print(mysql.queries);
end;
-->&nbsp;]</div>
</body>
</html>
