<div class="form_btns">
<!--;if(buttons & 1);--><input type="submit" name="submit" value="{language.SUBMIT}" /><!--;end;-->
<!--;if(buttons & 2);--><input type="submit" name="edit" value="{language.EDIT}" /><!--;end;-->
<!--;if(buttons & 4);--><input type="submit" name="upload" value="{language.UPLOAD}" /><!--;end;-->
<!--;if(buttons & 16);--><input type="submit" name="preview" value="{language.PREVIEW}" /><!--;end;-->
<!--;if(buttons & 8);--><input type="reset" value="{language.RESET}" /><!--;end;-->
</div>
<!--
if(endform)
	--></form><!--
end;
-->
