<!--
//generic template which is used to ask the user for permission to continue 
//operation.  {post_fields} should contain any hidden fields that need to be sent.
//{destination} is the relative url to the page to send the confirmation to.
-->
<form method="post" action="{destination}">
<fieldset>
<legend>{message_title}</legend>
<!--
foreach(post_fields, field)
	--><input type="hidden" name="{field.name}" value="{field.value}" /><!--
end;
print(message);
-->
<br />
<span style="margin-left: 25px"><input type="submit" value="{language.CONTINUE}"></span>
</fieldset>
</form>