<div class="pagination">
<!--
if(paginationprevious != -1)
	--><a href="?{query}{paginationid}={paginationprevious}">&laquo;</a> <!--
end;
foreach(paginationpages, page)
	if(page === 0)
		-->&hellip;<!--
	end;
	else
		--><a href="?{query}{paginationid}={page.start}"<!--;if(page.active);--> class="active"<!--;end;-->>{page.number}</a> <!--
	end;
end;
if(paginationnext != -1)
	--><a href="?{query}{paginationid}={paginationnext}">&raquo;</a><!--
end;
-->
</div>
