<tr>
<td colspan="2">
<table cellspacing="0" class="editor">
	<tr>
	<!--
	foreach(tableWidget.header, column)
		-->
		<th<!--;if(column == language.ACTIONS);--> style="width: 150px"<!--;end;-->>{column}</th>
		<!--
	end;
	-->
	</tr>
	<!--
	foreach(tableWidget.rows, row)
		-->
		<tr>
			<!--
			foreach(row, widget)
				--><td><!--
				if(is_string(widget))
					print(widget);
				end;
				else
					include("templates/cp/widget.html")
				end;
				--></td><!--
			end;
			-->
		</tr>
		<!--
	end;
	-->
</table>
</td>
</tr>
