<!--
if(widget.type == 10)
	--><input type="hidden" name="{widget.name}" value="{widget.value}" /><!--
end;
else

if(!inTable)
	--><tr><!--
end;
if(widget.type == 0 && !widget.value) // label
	if(!inTable) // isTable
		--><td colspan="2"><!--
	end;
	print(widget.label)
end;
elseif(widget.type == 5) // Checkbox
	if(!inTable)
		--><td colspan="2"><!--
	end;
	-->
	<input type="checkbox" name="{widget.name}" id="{widget.id}" <!--;if(widget.value);-->checked="checked" <!--;end;-->/><label for="{widget.id}">{widget.label}</label>
	<!--
end;
elseif(widget.type == 8) // Pagination
	if(!inTable)
		--><td colspan="2"><!--
	end;
	showPagination(widget.value)
end;
elseif(widget.type != 7 && !inTable)
	-->
	<td class="lbl"><label for="{widget.id}">{widget.label}</label></td>
	<td>
	<!--
end;

if(widget.type == 0 && widget.value)
	print(widget.value)
end;
if(widget.type == 1 || widget.type == 12) // Standard text
	-->
	<input type="text" name="{widget.name}" value="{widget.value}" class="textbox<!--;if(widget.type == 12);--> wide<!--;end;-->" id="{widget.id}" />
	<!--
end;
elseif(widget.type == 2) // Multiline box
	-->
	<textarea name="{widget.name}" id="{widget.id}">{widget.value}</textarea>
	<!--
end;
elseif(widget.type == 3) // Story
	-->
	<textarea name="{widget.name}" class="wide" id="story" rows="10">{widget.value}</textarea>
	<!--
end;
elseif(widget.type == 4 || widget.type == 11) // Combo/Selection
	-->
	<select name="{widget.name}" id="{widget.id}"<!--;if(widget.type == 11);--> multiple="multiple"<!--;end;-->>
	<!--
	foreach(widget.options, value)
		if(widget.type == 11)
			--><option value="{value.id}"<!--if(isset(widget.value.(value.id)) && widget.value.(value.id));--> selected="selected"<!--;end;if(isset(value.disabled) && value.disabled);--> disabled="disabled"<!--;end;-->>{value.name}</option><!--
		end;
		else
			--><option value="{value.id}"<!--if(widget.value == value.id);--> selected="selected"<!--;end;if(isset(value.disabled) && value.disabled);--> disabled="disabled"<!--;end;-->>{value.name}</option><!--
		end;
	end;
	-->
	</select>
	<!--
end;
// Type 5 (checkbox) is handled above.
elseif(widget.type == 6) // Upload
	-->
	<input type="file" name="{widget.name}" id="{widget.id}" />
	<!--
end;
// Type 7 (table) and 8 (pagination) are handled above.
elseif(widget.type == 9) // Password
	-->
	<input type="password" name="{widget.name}" class="textbox" id="{widget.id}" />
	<!--
end;

if(!inTable)
	-->
	</td>
	</tr>
	<!--
end;

end;
-->
