<a name="replyform"></a>
<form method="post" action="?{query}#newcomment">
<input type="hidden" name="comment_reply" value="<!--;if(form_type == 1);-->{get.reply}<!--;end;-->" />
<table border="0" cellspacing="0" cellpadding="0" width="400" style="margin-left: 80px">
	<!--
	// Note that #newcomment will either jump to the newly posted comment or
	// to the error message below.
	if(commenterror)
	-->
	<tr>
		<td colspan="2"><a name="newcomment"></a>{commenterror}</td>
	</tr>
	<!--
	end;
	-->
	<tr style="text-align: left">
		<th colspan="2" style="border-bottom: #000000 1px solid"><!--;if(form_type == 1);-->{language.REPLYTOPOST}<!--;end;else;-->{language.REPLY}<!--;end;--></th>
	</tr>
	<tr>
		<td style="width: 150px">{language.NAME}:</td>
		<td>
			<!--
			if(loggedinuser === 0)
				--><input type="text" name="comment_commenter" value="{post.comment_commenter}" /><!--
			end;
			else
				-->{loggedinuser.username}<!--
			end;
			-->
		</td>
	</tr>
	<!--
	if(loggedinuser === 0)
	-->
	<tr>
		<td style="width: 150px">{language.EMAIL}:</td>
		<td><input type="text" name="comment_email" value="{post.comment_email}" /></td>
	</tr>
	<!--
	end;
	-->
	<tr>
		<td style="width: 150px">{language.SUBJECT}:</td>
		<td><input type="text" name="comment_subject" value="<!--;if(isset(post.comment_subject));print(post.comment_subject);end;elseif(form_type == 1);print(comment.subject);end;else;print(replysubject);end;-->" /></td>
	</tr>
	<tr>
		<td style="width: 150px" valign="top">{language.COMMENT}:</td>
		<td><textarea rows="4" cols="20" name="comment_comment">{post.comment_comment}</textarea></td>
	</tr>
	<!--
	if(!empty(captcha))
	-->
	<tr>
		<td colspan="2">{captcha}</td>
	</tr>
	<!--
	end;
	-->
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" value="{language.SUBMIT}" /></td>
	</tr>
</table>
</form>
