<!--
set(form_type, 0);
forlinkedlist(comments, comment)
if(isset(comment.new))
	--><a name="newcomment"></a><!--
end;
else
	--><a name="comment{comment.id}"></a><!--
end;
-->
<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr style="text-align: left">
		<th style="border-bottom: #000000 1px solid;width: 100px">{comment.author}</th>
		<th style="border-bottom: #000000 1px solid"><a href="#comment{comment.id}">{comment.subject}</a></th>
		<th style="border-bottom: #000000 1px solid;width: 150px">{comment.date}</th>
	</tr>
	<tr>
		<td colspan="3">
			{comment.comment}
			<!--
			if(get.reply != comment.id)
				-->
				<div style="text-align: right">
					<a href="?{query}reply={comment.id}#replyform">{language.REPLYTOPOST}</a>
				</div>
				<!--
			end;
			else
				set(form_type,1);
				include("templates/BitOwl/comment_form.html");
				set(form_type,0);
			end;
			-->
		</td>
	</tr>
	<!--
	if(!is_null(comment.sub))
	-->
		<tr>
			<td colspan="3" style="padding-left: 20px">
				<!--
				if(!isset(noform) || noform == 0)
					set(noform, 1);
					recurse(comment, comments, comment.sub);
					set(noform, 0);
				end;
				else
					recurse(comment, comments, comment.sub);
				end;
				-->
			</td>
		</tr>
	<!--
	end;
	-->
</table>
<!--
end;
if(!isset(get.reply))
	if(!isset(noform) || noform == 0)
		include("templates/BitOwl/comment_form.html");
	end;
end;
-->
