<div style="border-bottom: #000000 1px solid;margin-bottom: 5px">
<!--
foreach(trace, traceStep)
	if(!isset(traceStep.last))
		--><a href="?album={traceStep.id}"><!--
	end;
	print(traceStep.name);
	if(!isset(traceStep.last))
		--></a> &raquo; <!--
	end;
end;
-->
</div>
