<!--
include("templates/BitOwl/gallery_trace.html");
-->
<div style="border-bottom: #000000 1px solid;margin-bottom: 5px;width: 100%">
<!--
if(nav.next !== -1)
	--><a href="?album={get.album}&amp;image={nav.next}" style="float: right">Next &raquo;</a><!--
end;
if(nav.prev !== -1)
	--><a href="?album={get.album}&amp;image={nav.prev}">&laquo; Previous</a><!--
end;
else
	-->&nbsp;<!--
end;
-->
</div>
<div style="text-align: center">
<img src="{image.file}" alt="" />
{image.description}
</div>
