<!--
include("templates/BitOwl/gallery_trace.html");
foreach(subalbums, subalbum)
	include("templates/BitOwl/gallery_album.html");
end;

if(isset(album))
	-->
	<div style="text-align: center">Album contains {numimages} image<!--;if(numimages != 1);-->s<!--;end;-->.</div>
	<table style="width: 100%">
	<!--
	for(i,i < count(album.images),1)
		if(i % 3 == 0)
			--><tr><!--
		end;

		--><td style="width: 33%"><a href="?album={get.album}&amp;image={album.images.(i).id}"><img src="{album.images.(i).thumbnail}" alt="" title="{album.images.(i).title}" /></a></td><!--

		if(i % 3 == 2)
			--></tr><!--
		end;
	end;
	if(i % 3 != 2)
		if(i % 3 == 0)
			--><tr><!--
		end;

		for(j,3 - j > i % 3,1)
			--><td>&nbsp;</td><!--
		end;
		--></tr><!--
	end;
	-->
	</table>
<!--
	showPagination(pagination);
end;
-->
