<table cellspacing="4" style="border-bottom: #000000 1px solid;margin: 0px auto 5px auto;width: 80%">
	<tr>
		<!--
		if(subalbum.thumbnail)
		-->
		<td><a href="?album={subalbum.id}"><img src="{subalbum.thumbnail}" alt="" /></a></td>
		<!--
		end;
		-->
		<td>
			<h2><a href="?album={subalbum.id}">{subalbum.name}</a></h2>
			{subalbum.description}
		</td>
	</tr>
</table>
