<a name="article{article.id}"></a>
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;margin-bottom: 12px">
	<tr style="text-align: left">
		<th style="border-bottom: #000000 1px solid">{article.title}</th>
	</tr>
	<tr>
		<td style="text-align: right"><!--
		if(is_array(author) && author.publicemail == 1)
			--><a href="mailto:{author.email}">{article.author}</a><!--
		end;
		else
			-->{article.author}<!--
		end;
		--> {article.date}</td>
	</tr>
	<tr>
		<td>
			{article.story}
		</td>
	</tr>
</table>
