<div style="text-align: center">
<!--
if(paginationprevious != -1)
	--><a href="?{query}&amp;{paginationid}={paginationprevious}">&laquo;</a> <!--
end;
foreach(paginationpages, page)
	if(page === 0)
		-->&hellip;<!--
	end;
	else
		if(!page.active)
			--><a href="?{query}&amp;{paginationid}={page.start}"><!--
		end;
		print(page.number)
		if(!page.active)
			--></a><!--
		end;
		-->&nbsp;<!--
	end;
end;
if(paginationnext != -1)
	--><a href="?{query}&amp;{paginationid}={paginationnext}">&raquo;</a><!--
end;
-->
</div>
