html
{
	background-color: #7F7F7F;
}

body
{
	margin: 5px;
	padding: 4px;
	background-color: #FFFFFF;
}

code
{
	font-family: monospace;
}

samp
{
	display: block;
	margin-left: 20px;
	border: #7F7F7F 1px solid;
	white-space: pre;
	background-color: #EEEEEE;
	color: #008000;
	font-family: monospace;
}

table
{
	border: #000000 1px solid;
	width: 100%;
	margin-bottom: 5px;
}
td, th
{
	border: #000000 1px solid;
}
